* ::after , * ::before{
    display: block;
}

body{
    background-image: url(https://images.unsplash.com/uploads/1412026095116d2b0c90e/3bf33993?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2800&q=80);
    background-size:auto;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
} 

.currentWeather{
    display: flex;
    flex-direction: column;
    align-items: right;
}

header{
    display: flex;
    justify-content: center;
}
#card-group{
    display: flex;
}

#cheader{
    color:white;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    /* -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: justify; */
    padding: 0.5rem 1rem;
    flex-direction: row-reverse;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100vh;
}
.card-body{
display:flex;
flex-direction: column;
flex-wrap: wrap;
}
.btn-outline-success {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
}

.currentTime{
    font-size: 15px;
}
.temperature{
    font-size: 64px;
}

@media screen and(max-width:980px){
    body{
        width: 100vh;
        height: 100vh;
    }
}

/* .hide{
    display: none;
} */